<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid >
    <ion-row class="ion-align-self-center">
      <ion-col size="3" >
        <div>2008</div>
      </ion-col>
      <ion-col>
        <div>Esc. William James</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-self-center">
      <ion-col size=3>
        <div>2014</div>
      </ion-col>
      <ion-col>
        <div>Unidad Educativa Eugenio Espejo</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-self-center">
      <ion-col size="3">
        <div>Actual</div>
      </ion-col>
      <ion-col>
        <div>Escuela Politécnica Nacional</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="danger">
    <h4 >Habilidades</h4>
  </ion-text>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note>C++</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="primary">Java</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="secondary">Bootstrap</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="tertiary">HTML</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-note color="success">C#</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="warning">Firebase</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="danger">MySQL</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="dark">PostgreSQL</ion-note>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-list>
