<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 
  <ion-card>
    <ion-img src="assets/img/1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Estudiante</ion-card-subtitle>
      <ion-card-title>Andrea Quishpe</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet, justo sit amet rutrum viverra, lectus nibh efficitur diam, quis finibus arcu sem eget dolor. Fusce bibendum varius urna, id tincidunt erat aliquam in. Aliquam convallis ornare nunc, mattis convallis neque tristique vel.
    </ion-card-content>
  </ion-card>

  <ion-text color="danger">
    <h4 >Contacto</h4>
  </ion-text>

  <ion-grid >
    <ion-row class="ion-align-self-center">
      <ion-col size="11" >
        <div>Ignacio Lecumberry S46-217, Quito</div>
      </ion-col>
      <ion-col>
        <div><ion-icon name="home-outline"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-self-center">
      <ion-col size=11>
        <div>liz-z96@hotmail.com</div>
      </ion-col>
      <ion-col>
        <div><ion-icon name="mail-outline"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-self-center">
      <ion-col size="11">
        <div>0996799569</div>
      </ion-col>
      <ion-col>
        <div><ion-icon name="call-outline"></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>
