<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Idiomas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid >
    <ion-row class="ion-align-self-center">
      <ion-col size="3" >
        <div>Español</div>
      </ion-col>
      <ion-col>
        <div>Nativo</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-self-center">
      <ion-col size=3>
        <div>Inglés</div>
      </ion-col>
      <ion-col>
        <div>Avanzado</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
